@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&family=Tenor+Sans&display=swap');
html{
  font-family: 'Nanum Myeongjo', serif;
font-family: 'Roboto', sans-serif;
}
body,ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

label[for] {
  cursor: pointer;
  user-select: none;
}

/* 라이브러리 */
.con {
  margin-left: auto;
  margin-right: auto;
}
.con-2{
    margin-left: auto;
  margin-right: auto;
}
.con {
  max-width: 1920px;
}
.con-2{
    max-width: 1700px;
}
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-middle.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.relative {
  position: relative;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear: both;
}

.img-box>img {
  width: 100%;
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}
*>.flex {
    display: flex;
  }
  * > .flex-wrap {
      flex-wrap:wrap;
  }
  *>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
  }
  
  *>.flex-grow-1 {
    flex-grow: 1;
  }
  
  *>.flex-jc-c {
    display: flex;
    justify-content: center;
  }
  
  *>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
  }
  
  *>.flex-ai-c {
    display: flex;
    align-items: center;
  }
  
  *>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  *>.flex-ch-basis-0 {
    display: flex;
  }
  
  .flex-ch-basis-0>* {
    flex-basis: 0;
  }
  
  *>.flex-1-0-0 {
    flex: 1 0 0;
  }
  .flex-self-c{
    display: flex;
    align-self: center;
  }
/**/
.top-dv-bar{
    background-color: #A6672B;
    width: 100%;
    height: 0;
    animation-name: menuBar;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    overflow: hidden;
}
@keyframes menuBar{
  0%{
    height: 0;
  }

  100%{
    height: 41px;
  }
}

.top-dv-bar>a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:10px;
    color: #FFFEF2;
    font-size: 14px;
}

.shopping-bar{
    background-color: #252525;
    width: 100%;
    height: 48px;
    animation-name: spBar;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    overflow: hidden;
}
@keyframes spBar{
  0%{
    height: 0;
  }
  100%{
    height: 46.5px;
  }
}
.shopping-bar>a>svg{
    fill:white;
    width: 22px;
    height: auto; 
    margin-left: 20px;
}
.shopping-bar>a{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top:13px;
    padding-bottom: 3px;
    color: #FFFEF2;
    border-bottom: solid 1px transparent;

    font-size: 14px;
    width: 280px;
    transition:border 500ms ease;
}
.shopping-bar:hover>a{
    border-bottom: solid white 1px;
}

.bn-bar{
    background-size:cover;
    height:85vh;
    min-width: 1025px;
    min-height: 546.55px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 80%;

}
.bn-top-bar{
    position: relative;
    top: 2.5%;
    left: 2%;
}
.bn-top-bar>.top-box{
    top: 0;
    
}
.top-box>ul{

    flex-wrap: nowrap;
}
.top-box>ul>li>a{
    position: relative;
    display: flex;
    margin: 10px 12px;
    font-size: 14px;
    color: #252525;
}
.top-box>ul>li>a::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    transition: width .2s;
    background-color: #333;
}
.top-box>ul>li:hover>a::after{
    width: 100%;
}


.login{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
.login>li>span{
    background-color: black;
    width: 8px;
    height: 8px;
    display: flex;
    font-size: 2rem;
    border-radius: 50%;
    transform: scale(1);
    margin:10px;
    display: block;
    z-index: 999;
    margin-top: 15px;
    
}
.text-bar{
    position: absolute;
    top:30%;
    left: 15%;
    width: 599px;

}
.text-bar>.view-bt{
    width: 205px;
    height: 37px;
    border:1px solid rgba(51, 51, 51, .2);
    margin-top:40px;
    display: block;
    padding-top:20px;
    font-size: 14px;
    color: #333;
    
    transition: background-color .3s;

}
.text-bar>.view-bt:hover{
    background-color: #363636;
    color: white;
}
.text-bar>.view-bt>i{
    margin-left: 80px;
}
.text-bar>.view-bt>a{
    display: inline-block;
    padding-left: 20px;

}
.aesop-logo{
    width: 100px;
    position: absolute;
    top: 33%;
    left:2%;
    fill: #333;
}
.text-bar>h1{
    font-weight: normal;
    display: block;
    color: #333;

}
.text-bar>h5:first-of-type{
    font-size: 14px;
}
.text-bar>h5{
    font-weight: normal;
    color: #333;
    font-size: 1rem;

}
body, ul, li, h1, h2, h3, h4 {
  margin:0;
}
.owl-carousel{
  position:relative;
}
.my-slider-1 .item>h4>img{
  height:440px;
  width:auto;
}
.my-slider-1 .item {
  font-size:15rem;
  display:flex;
  min-width:700x;
  min-height:700px;
  justify-content:center;
  align-items:flex-end;
}

.my-slider-1 > .owl-carousel:hover > .owl-nav > .owl-prev{
  left:-10px;}
.my-slider-1 > .owl-carousel > .owl-nav > .owl-prev{
  position:absolute;
  top:62%;
  left:-100px;
  border:none;
  transition:left .4s;
}
.my-slider-1 > .owl-carousel:hover > .owl-nav > .owl-next{
  right:-10px;
}
.my-slider-1 > .owl-carousel > .owl-nav > .owl-next{
    position:absolute;
  top:62%;
  right:-100px;
  transition:right .4s;
}

button{
  outline:none;

}

.my-slider-1 > .owl-carousel > .owl-nav > .owl-prev:hover, .my-slider-1 > .owl-carousel > .owl-nav > .owl-next:hover {
    background-color:transparent;
  color:black;
  
}

.my-slider-1{
  z-index: 999;
}
.owl-carousel{
  display: block;
}
.item>h4>a{
  display: block;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  max-width: 378px;
  line-height: 1.6;

}
.item>h4>a:nth-of-type(1):hover>span{
  border-bottom: solid 1px black;
  width: 100%;
}
.item>h4>a:nth-of-type(2){
  color: #5f5f5f;
}
body{
  background-color: #FFFEF2;
}
.slider-line{
  position: relative;
  background-color: rgb(172, 172, 172);
  height: 2px;
  width: 1765px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  

}
.cursor-line{
  width: 16%;
  height: 2px;
  background-color: black;
  position: absolute;
  z-index: 999;

}
.about-item{
  margin-top: 13%;
}
.about-item-2{
  margin-top: 5%;
}
.about-text>ul::after{
  content: "";
  clear: both;
  display: block;
}
.about-img>img{
  display: block;
  width: 100%;
}
.about-text>ul>li{
  box-sizing: border-box;
}
.about-text>ul>li:nth-of-type(2){width: 59%;float: left;
}
.about-text>ul>li:nth-of-type(1){
  width: 41%;float: left;
  
}
.ab-title{
  padding: 115px;
  padding-top: 0;
}
.ab-title>h1{
  font-weight: lighter;
  font-family: 'Nanum Myeongjo', serif;
  color: #363632;
  font-size: 30px;
}
.ab-title>h5{
  line-height:1.7 ;
  font-weight: normal;
  font-size: 16px;
}
.ab-title>.ab-view{
  width: 205px;
  height: 37px;
  border:1px solid rgba(51, 51, 51, .2);
  margin-top:40px;
  padding-top:20px;
  font-size: 14px;
  color: #333;
  
  transition: background-color .3s;
}
.ab-title>.ab-view:hover{
  background-color: #333;
  color: #FFFEF2;
}
.ab-title>.ab-view::after{
  content: "";
  clear: both;
  display: block;
}
.ab-title>.ab-view>a{
  float: left;
  margin-left: 25px;
}
.ab-title>.ab-view>i{
  float: left;
  margin-left: 70px;
  margin-top:3px;
}
.about-item-2>.about-text>ul>li>.ab-title>.ab-view>i{
  float: left;
  margin-left: 47px;
  margin-top:3px;
}
.about-img>h1{
  font-size: 15px;
  padding: 30px;
  font-weight: normal;
  border-bottom: solid 1px #5f5f5f;
}.bottom-text{
  text-align: center;
  padding: 190px;
}
.bottom-text>h1{
  font-family:'Source Serif Pro', serif;
  font-weight: 400;
  font-size:1.8rem ;
  color: #333;
}
.bottom-text>h5{
  font-weight: normal;
  font-size: 14px;
}
.copy-light{
  border-top: 1px solid rgba(51, 51, 51, .2);
}
.text-bar-2{
  white-space: nowrap;
}
.text-box{
  display: flex;
  white-space: nowrap;
}
.text-box>ul>li{
  padding:5px 138px;
}
.text-box>ul>li>a{
  font-size: 13px;
}
.about-bottom-text{
  display: flex;
  justify-content: flex-end;
  margin-right: 286px;
  margin-top: 70px;
  margin-bottom: 30px;
}
.about{
  width: 50%;
}
.about>a{
  display: block;
  font-size: 13px;
}
.foot-box{
  display: block;
  width: 100%;
  height: 78px;
  background-color:#252525 ;
}
html>body{
  overflow-x: hidden;
}